source/src/main/resources/cluster.xml
.DS_Store
.vertx
source/target/classes/cluster.xml
scripts/vertx
source/vertx
source/target
dummy_sensor/target
dummy_sensor/.project
source/.project
source/.settings/org.eclipse.jdt.core.prefs
source/.settings/org.eclipse.m2e.core.prefs
source/src/.DS_Store
source/src/main/.DS_Store
source/.idea
source/.settings
source/source.iml
other/.classpath
other/.gitignore
other/.project
other/.settings
other/bin/
other/target/
source/bin
.classpath
.project
source/bin/.gitignore
source/bin/.project
source/bin/